{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block body %}

<body background="{{url_for('static', filename='home_image/wallpaper1.jpg')}}">

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="{{url_for('static', filename='home_image/unnamed.png')}}" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
        <span class="ml-1 text-xl"><b>Engineers Hub</b></span>&nbsp; &nbsp; &nbsp; &nbsp; 

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url_for('home')}}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{{url_for('contact')}}" class="nav-link px-2 text-white">Contact</a></li>
        <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="https://github.com/Jebathurai-JB/Engineers-Hub" target="_blank"><button class="btn btn-warning" style="border-radius:20px"><i class="fa fa-github" style="font-size:36px"></i></button></a>
      
      </div>
    </div>
  </div>
</header>

<section class="text-gray-600 body-font">
  <div class="container py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg"><b>Engineers Hub is a online libraries which provide students and professionals Science, Technology, Engineering and Mathematics related books. We developed a Content Based Recommendation System using an Algorithm called Cosine Similarity (measures the text similarity) which can help you to get some recommended books and explore more. And to know your thoughts towards Engineers Hub we build a sentiment analysis model using machine learning (svm) which can classify your feedback into positive or negative</b></p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">ENGINEERS HUB</h2>
      <p class="text-gray-500">Jebathurai I Barnabas</p>
    </div>
  </div>
</section>

{% endblock body %}