{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block body %}

<body background="{{url_for('static', filename='home_image/wallpaper1.jpg')}}">

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="{{url_for('static', filename='home_image/unnamed.png')}}" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
        <span class="ml-1 text-xl"><b>Engineers Hub</b></span>&nbsp; &nbsp; &nbsp; &nbsp; 

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url_for('home')}}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{{url_for('contact')}}" class="nav-link px-2 text-white">Contact</a></li>
        <li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="https://github.com/Jebathurai-JB/Engineers-Hub" target="_blank"><button class="btn btn-warning" style="border-radius:20px"><i class="fa fa-github" style="font-size:36px"></i></button></a>
      </div>
    </div>
  </div>
</header>

  {% if len_result == 1%}
    <div class="jumbotron">
      <center>
        {% if result == 1 %}
          <h1>&#128512;</h1>
          <br>
          <p><b>Thank You so much for your feedback! We're really glad you enjoyed Engineers Hub</b></p>
        {% else %}
          <h1>&#128577;</h1>
          <br>
          <p><b>We apologize that Engineers Hub did not satisfy your expectations</b></p>
        {% endif %}
      </center>
    </div>
  {% endif %}

<br><br><br>
<div class="container" align="center">
  <img style="border: 5px solid pink;" class="test rounded-circle" src="{{url_for('static', filename='home_image/jebathurai.jpg')}}" width="300" height="300"/>
  <br>
  <h3 class="ml-1 text-xl" ><b>Jebathurai I Barnabas</b></h3>
  <br>
  <h5 class="ml-1 text-sm" ><b>Contact me through</b></h5><br>

  <span class="inline-flex">
    <a class="text-gray-500" href="https://www.facebook.com/jeba.thurai.54/" target="_blank">
      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
      </svg>
    </a>
    <a class="ml-4 text-gray-500" href="https://twitter.com/Jebathurai_JB" target="_blank">
      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
      </svg>
    </a>
    <a class="ml-4 text-gray-500" href="https://www.instagram.com/jebathurai_jb/" target="_blank">
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
      </svg>
    </a>
    <a class="ml-4 text-gray-500" href="https://mail.google.com/mail/?view=cm&fs=1&to=jebathurai2511999@gmail.com" target="_blank">
      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
      </svg>
    </a>
  </span>
<hr>
</div>

<section class="text-gray-400 bg-gray-900 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Feedback</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Post your feedback below so that we get your your emotion towards this website.</p>
    </div>

    <form action="/contact" method="POST">
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        
        <div class="p-2 w-1/2">
          <div class="relative">
            
              <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
              <input type="text" id="name" name="name" class="form-control" style="width: 205%">
            
          </div>
        </div>
        <!-- <div class="p-2 w-1/2">
          <div class="relative">
              <label for="email" class="leading-7 text-sm text-gray-400">Email</label>
              <input type="email" id="email" name="email" class="form-control">
          </div>
        </div> -->
        <div class="p-2 w-full">
          <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-400">Message</label>
              <textarea id="message" name="message" class="form-control py-2"></textarea>
          </div>
        </div>

        <div class="p-2 w-full" align="center">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit" role="button">Submit</button>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jb2280@srmist.edu.in" target="_blank">jb2280@srmist.edu.in</a>
          <p class="leading-normal my-5">52 Brotherton St.
            <br>Nazareth, TN 628617
          </p>
        </div>
      </div>
    </div>
  </form>
  </div>
</section>


</body>


{% endblock body %}