{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block body %}

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <img src="{{url_for('static', filename='home_image/unnamed.png')}}" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
      <span class="ml-3 text-xl"><b>Engineers Hub</b></span>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="{{url_for('home')}}" class="mr-5 hover:text-gray-900"><b>Home</b></a>
      <a href="{{url_for('team')}}" class="mr-5 hover:text-gray-900"><b>Team</b></a>
      <a href="{{url_for('about')}}" class="mr-5 hover:text-gray-900"><b>About</b></a>
    </nav>
  </div>
</header>

<br><br>
<center>
	<img src="{{url_for('static', filename='home_image/warning_image.jpg')}}" width="300" height="300" >
  <br><br>
  <h4 style="color: red">Sorry, couldn't find <b>{{search_title}}</b></h4>
</center>
<br>
<center>
  <a class="btn btn-outline-danger" href="{{url_for('home')}}" role="button"><b>Back to Search</b></a>
</center><br><br><br>
</body>

{% endblock body %}
